# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.UIToolkitMenuCreator.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\UIToolkitMenuCreator\.idea\.idea.UIToolkitMenuCreator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
